In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('archive/amsterdam_weekdays.csv', sep=',', header=0, index_col=0)

In [7]:
df.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [10]:
import sqlite3
from sqlite3 import Error

In [12]:
def sql_connection():
    try:
        con = sqlite3.connect('DB_name.db')
        return con
    except Error:
        print(Error)
        
def sql_create_table(con):
    text_sql_create_table = '''
                                CREATE TABLE Students(
                                                        id integer PRIMARY KEY,
                                                        name text,
                                                        department text
                                                     )
                            '''
    cursObj = con.cursor()
    cursObj.execute(text_sql_create_table)
    con.commit()
con = sql_connection()
sql_create_table(con)

In [16]:
def sql_insert(con, entities):
    text_sql_insert_into_table = '''
                                     INSERT INTO Students(
                                                             id,
                                                             name,
                                                             department
                                                          )
                                     VALUES(?, ?, ?)
                                 '''
    cursorObj = con.cursor()
    cursorObj.execute(text_sql_insert_into_table, entities)
    con.commit()
    
entities = (1, 'Jonh', 'IT')
sql_insert(con, entities)